.container {
  width: 100vW;
  height: 100vh;
  padding: 5%;
  box-sizing: border-box;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: row;
}

.App {
  display: flex;
  flex-direction: column;
  margin: auto;
}